{% set content = homePage %}
<div id="foresigh-main-box-search" class="container-fluid p-0">
    <img class="img" width="1920" height="946" src="{{ Image(content.meta('background_image')).src }}" srcset="{{ Image(content.meta('background_image')).srcset }}" sizes="{{ Image(content.meta('background_image')).img_sizes }}" alt="{{ Image(content.meta('background_image')).title }}" />
    <div class="overlay-slide">  
        <div class="container-search">
            <h1>Foresight</h1>
            <div class="control-search">
            <form id="frm-search" action="/" method="GET">
                <input id="s" name="s" class="input-search" type="text" placeholder="Topic or Keyword" value="">
                <a class="btn-search" onclick="event.preventDefault();this.closest('form').submit();"> 
                 <img src="{{theme.link}}/static/images/search-icon.svg" width="48" height="48" alt="Search">
                </a>
            </form>
            </div>
            <div id="foresight-popular-search" class="dropdown">
            {{ function('sm_list_popular_searches', '', '', '30') }}
            </div>
    </div>
    <div class="container-curated-search">
            <div class="row">
                <div class="col-3 col-md-4 col-lg-8 col-xl-10 col-left"></div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-2 col-center">Curated Search
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="col-3 col-md-4 col-lg-4 col-right"></div>
            </div>
            <div class="slider">
                <div class="slider-row">
                {% for item in content.meta('slider_items') %}
                    <div class="container-card">
						<a href="/search?{{ constant('ALGOLIA_INDEX') }}[query]=%22{{ item.term_cured.name }}%22">
							<img class="img-fluid" width="150" height="150" src="{{ Image(item.term_image).src }}"/>
							<div class="overlay">
								<div class="text">
									{{ item.term_cured.name }}
								</div>
							</div>
						</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


