{% set content = homePage %}
<div id="section-contact-us">
    <img class="lazyload bg-img" width="100" height="100" data-src="{{ Image(content.meta('contact_us_background')).src }}" data-srcset="{{ Image(content.meta('contact_us_background')).srcset }}" data-sizes="{{ Image(content.meta('contact_us_background')).img_sizes }}" alt="{{ Image(content.meta('contact_us_background')).title }}">
    <div class="container">
        <a class="btn button" href="{{content.meta('page_contact_us')}}" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32.1 49.4"> <g id="Arrow_Small_Up" data-name="Arrow Small Up" transform="translate(32.1) rotate(90)"> <path id="Path_36" data-name="Path 36" d="M24.7,32.1,0,7.367,7.357,0,24.7,17.366,42.043,0,49.4,7.367Z" transform="translate(49.4 32.1) rotate(180)" fill="#c8c502"/> </g></svg>
        Contact us
        </a>
    </div>
<div>