{% set content = homePage %}
<div id="section-members-logos">
        <img class="lazyload bgimg" width="600" height="900" data-src="{{ Image(content.meta('participants_background_image')).src }}" data-srcset="{{ Image(content.meta('participants_background_image')).srcset }}" data-sizes="{{ Image(content.meta('participants_background_image')).img_sizes }}" alt="{{ Image(content.meta('participants_background_image')).title }}">
    <div class="container">
        <div class="title">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <div class="bold">
                Participating
                <span class="bold accent">CGIAR Centers</span>
            </div>
            <span class="light-text">and Focal Points</span>
        </div>
    <div class="row">
        <div class="col col-lg-6"> 
            <div class="row logos p-0">
            {% for participant in content.meta('participants_items') %}
                {% if loop.index0 == 0 %}
                    <div class="col-6 col-md-8">
                        <img class="lazyload" width="200" height="200" data-src="{{ Image(participant.image_logo).src }}" alt="{{ Image(participant.image_logo).title }}">
                        <div class="label"><a href="#">{{ participant.participants_label }}</a></div>
                    </div>
                {% elseif loop.index == 1 %}
                    <div class="col-6 col-md-4">
                        <img class="lazyload" width="200" height="200" data-src="{{ Image(participant.image_logo).src }}" alt="{{ Image(participant.image_logo).title }}">
                        <div class="label"><a href="#">{{ participant.participants_label }}</a></div>
                    </div>
                {% else %}
                    <div class="col-6 col-md-4">
                        <img class="lazyload" width="200" height="200" data-src="{{ Image(participant.image_logo).src }}" alt="{{ Image(participant.image_logo).title }}">
                        <div class="label"><a href="#">{{ participant.participants_label }}</a></div>
                    </div>
                {% endif %}
            {% endfor %}
                </div>
            </div>
    </div>
<div>


