<section class="my-16">
  <div class="container relative">
    <div>
      <h4 class="mb-12">{{ post.meta('about_subtitle') }}</h4>
      {{ post.meta('this_is_foresight') }}
    </div>
  </div>
  <div class="bg-[#3F1364] mt-16 mb-24">
    <div class="container relative py-16 text-center">
      <div class="text-white">
        {{ post.meta('featured_content') }}
      </div>
    </div>
  </div>
  <div class="container relative">
    <div>
      <h4 class="mb-12">{{ post.meta('cg_title') }}</h4>
      {{ post.meta('what_does_cg_foresight_offer') }}
    </div>
    <div class="grid grid-cols-2 gap-4 mt-20">

      {% for item in post.meta('offers') %}
        <div class="col-span-1 max-sm:col-span-2">
          <div class="flex flex-row max-sm:flex-col gap-7 max-sm:gap-4 max-sm:mb-11">
            <img class="lazyload w-12 h-12" width="50" height="50" data-src="{{ Image(item.offer_icon).src }}" data-srcset="{{ Image(item.offer_icon).srcset }}" data-sizes="{{ Image(item.offer_icon).img_sizes }}" alt="{{ Image(item.offer_icon).title }}">
            <h5>{{ item.offer_label}}</h5>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>