{% if posts is not empty %}

  <div class="grid grid-cols-3 auto-rows-auto gap-4 mt-12">
    {% for item in posts %}
	
      <div class="col-span-1 max-sm:col-span-3 border">
        <img class="min-h-[230px] object-cover" width="350" height="230"
          src="{{ item.thumbnail.src }}" srcset="{{ item.thumbnail.srcset }}"
          sizes="{{ item.thumbnail.img_sizes }}" alt="{{ item.thumbnail.title }}"/>
        <div class="p-6">
          <h5 class="line-clamp-4">
            {{ item.post_title }}
          </h5>
          <p class="my-8">{{ item.date|date("m.d.Y") }}</p>
          <a class="btn-primary-small" href="{{ item.link }}">READ MORE</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% else %}

  <div class="flex flex-col items-center justify-center w-full h-56">
    <h3>Sorry!</h3>
    <p>We could not find any results matching your search.</p>
  </div>
{% endif %}
