{% import "./view/macros/navigation-categories.twig" as navigation %}
{% import "./view/macros/cards-blog.twig" as cards_blog %}
<div class="theme-header-scroll"></div>
<section id="cafeto-archive-blog">
	<div class="container-fluid p-0 position-relative">

		<div class="cafeto-background-picture" style="background: url( {{ contentBlog.imageTest }} ) no-repeat center;"></div>
		<div class="container py-5">
			<div class="row py-5 my-5">
				<div class="col-md-12 my-5 py-5 general-header-title-content">
					<h1 class="display-4 cafeto-header-section">
						{{ post.title }}
					</h1>
					<hr>
					<h4 id="cafeto-FindUs-aboutUs">
						{{ post.custom.location_html }}
					</h4>
				</div>
			</div>
		</div>
	</div>
	{{ navigation.navigation_categories( contentBlog.termsBlog ) }}

	<div class="container mt-5 p-0">
			{{ cards_blog.cards_blog(posts, contentBlog.imageTest) }}

		<div class="row mt-5">
			<div class="col-md-4 offset-md-4">
				<nav class="cafeto-pagination" aria-label="Page navigation">
					<ul class="pagination justify-content-center">

						{% if posts.pagination.prev %}
							<li class="page-item {{posts.pagination.prev.link|length ? '' : 'disabled'}}">
								<a class="page-link" href="{{posts.pagination.prev.link}}">Previous</a>
							</li>
						{% endif %}

						{% for page in posts.pagination.pages %}
							<li class="page-item">
								{% if page.link %}
									<a class="page-link {{page.class}}" href="{{page.link}}">{{page.title}}</a>
								{% else %}
									<span class="page-link {{page.class}}">{{page.title}}</span>
								{% endif %}
							</li>
						{% endfor %}

						{% if posts.pagination.next %}
							<li class="page-item {{posts.pagination.next.link|length ? '' : 'disabled'}}">
								<a class="page-link" href="{{posts.pagination.next.link}}">Next</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>

</section>
