{% set logo = Image(site.theme.theme_mod('custom_logo','')) %}
<!-- begin top menu -->
<nav class="bg-white fixed w-full z-20 top-0 left-0">
		<div class="flex flex-wrap lg:container justify-between">
			<div class="flex h-20 items-center px-4">
				<a href="{{site.url}}" class="text-lg">
					{% if logo.src is not empty %}
						<img class="w-20 h-20 p-2 object-scale-down object-center" src="{{ logo.src }}" srcset="{{ logo.srcset }}" sizes="{{ logo.img_sizes }}" width="{{ logo.width }}" height="{{ image.height }}" alt="{{ site.title }}" />
					{% else %}
						{{ site.title }}
					{% endif %}
				</a>
			</div>
			<div class="flex px-4 lg:order-2">
				<div class="hidden lg:flex">
					<ul class="flex flex-row gap-x-4 items-center justify-center">
					{% for item in social_menu.items %}
						<li class="text-green"><a href="{{ item.link }}" target="{{ item.target ?? '_self' }}" class="{{ item.classes|join(' ') }}"></a></li>
					{% endfor %}
					</ul>
				</div>
				<button data-collapse-toggle="navbar-dropdown2" type="button" class="relative group p-1 rounded-lg lg:hidden focus:outline-none focus:ring-0" aria-controls="navbar-dropdown" aria-expanded="false" onclick="this.classList.toggle('open-menu');this.setAttribute('aria-expanded', this.classList.contains('open-menu'))">
					<span class="sr-only">Open Main Menu</span>
					<div class="flex overflow-hidden items-center justify-center w-[28px] h-[28px]">
						<div class="text-black flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden">
							<i class="bg-black h-[2px] w-7 transform transition-all duration-300 origin-left group-[.open-menu]:rotate-[42deg]"></i>
							<i class="bg-black h-[2px] w-7 transform transition-all duration-300 group-[.open-menu]:-translate-x-10"></i>
							<i class="bg-black h-[2px] w-7 transform transition-all duration-300 group-[.open-menu]:-translate-x-10"></i>
							<i class="bg-black h-[2px] w-7 transform transition-all duration-300 origin-left group-[.open-menu]:-rotate-[42deg]"></i>
						</div>
					</div>
				</button>
			</div>
			<div class="items-center justify-between border-gray-400 lg:border-none border-t w-full h-[100vh] lg:h-20 overflow-y-scroll hidden lg:flex lg:w-auto lg:order-1" id="navbar-dropdown2">
				<ul class="flex flex-col mx-8 my-11 lg:my-0 font-bold gap-2.5 lg:flex-row lg:gap-8">
					{% for item in top_menu.items %}
						{% if item.link and item.children is empty %}
							<li>
								<a href="{{ item.link }}" target="{{ item.target ?? '_self' }}" class="item_top_menu text-black {{ item.classes|join(' ') }}" aria-current="page">{{ item.title }}</a>
							</li>
						{% endif %}
						{% if item.children %}
							<li>
								<button id="top-menu-btn-{{ item.title|sanitize }}" data-dropdown-toggle="top-menu-{{ item.title|sanitize }}" class="flex items-center justify-between py-2 pl-3 pr-4 lg:p-0 lg:w-auto text-black {{ item.classes|join(' ') }}">
									{{ item.title }} 
									<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<div id="top-menu-{{ item.title|sanitize }}" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 shadow w-48">
								<ul class="py-2 text-sm text-black" aria-labelledby="dropdownLargeButton">
									{% for child in item.children %}
										<li>
											<a href="{{ child.link }}" target="{{ item.target ?? '_self' }}" class="block px-4 py-2 hover:bg-gray-100 {{ child.classes|join(' ') }}">{{ child.title }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
							</li>						
						{% endif %}
					{% endfor %}
				</ul>

				<!-- begin secondary menu mobile -->
				<div class="w-full bg-black text-white z-10 lg:hidden">
					<nav class="mx-8 flex flex-row pt-16">
						<ul class="flex flex-col flex-wrap gap-y-3">
						{% for item in secondary_menu.items %}
							{% if item.link and item.children is empty %}
							<li>
								<a href="{{ item.link }}" target="{{ item.target ?? '_self' }}" class="item_secondary_menu_mobile {{ item.classes|join(' ') }}" aria-current="page">{{ item.title }}</a>
							</li>
							{% endif %}
							{% if item.children %}
							<li>
								<button id="secondary-menu-btn-{{ item.title|sanitize }}-mobile" data-dropdown-toggle="secondary-menu-{{ item.title|sanitize }}-mobile" class="flex items-center justify-between text-white {{ item.classes|join(' ') }}">
									<h6 class="max-lg:font-normal">{{ item.title }}</h6>
									<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<div id="secondary-menu-{{ item.title|sanitize }}-mobile" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md border drop-shadow-md max-w-lg">
									<ul class="grid grid-cols-1 grid-flow-row auto-cols-auto gap-x-0 text-black pb-3" aria-labelledby="dropdownLargeButton">
										{% for child in item.children %}
										<li>
											<h6 class="px-4 py-2">{{ child.title }}</h6>
												<ul>
												{% for child_three in child.children %}
													<li>
														<a href="{{ child_three.link }}" target="{{ child_three.target ?? '_self' }}" class="block px-4 py-1 text-base hover:bg-gray-100 {{ child_three.classes|join(' ') }}">{{ child_three.title }}</a>
													</li>	
												{% endfor %}
												</ul>
										</li>
										{% endfor %}
									</ul>
								</div>
							</li>
							{% endif %}
						{% endfor %}
						</ul>
					</nav>
				</div>
				<!-- end secondary menu mobile -->

				<div class="flex bg-black lg:hidden">
					<ul class="bg-black flex mt-10 mb-24 mx-8 gap-5">
						{% for item in social_menu.items %}
							<li class="text-green"><a href="{{ item.link }}" target="{{ item.target ?? '_self' }}" class="{{ item.classes|join(' ') }}"></a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
</nav>
<!-- end top menu -->