<main id="foresight-archive">
	<div id="foresight-head-slider">
		<div class="container">
			<div id="carousel-head-post" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{% for post in posts|slice( 0, 3) %}
						<div class="carousel-item {% if loop.first %} active {% endif %}">
							<div class="row">
								<div class="col-12 col-md-6 order-md-2">
									<img class="img" width="800" height="400"
										 src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}"
										 sizes="{{ post.thumbnail.img_sizes }}" alt="{{ post.thumbnail.title }}"/>
								</div>
								<div class="col-12 col-md-6 order-md-1">
									<div class="category">
										{% for category in post.terms( {query:{taxonomy:'category', orderby:'name', order: 'ASC'}}) %}
											<span>
												<a href="{{ category.link }}">
													{{ category.name }}
												</a>
											</span>
										{% endfor %}
									</div>
									{% if loop.first %}
										<h1 class="title">
											<a href="{{ post.link }}">
												{{ post.title }}
											</a>
										</h1>
									{% else %}
										<h2 class="title">
											<a href="{{ post.link }}">
												{{ post.title }}
											</a>
										</h2>
									{% endif %}
									<div class="posted-by">
										<span class="date">
											Posted by
											<b>{{ post.author }}</b>
											on {{ post.date }}
										</span>
										<span class="date">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewbox="0 0 20 18.35">
												<path
													id="ic_favorite_24px"
													d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.28,2,8.5A5.447,5.447,0,0,1,7.5,3,5.988,5.988,0,0,1,12,5.09,5.988,5.988,0,0,1,16.5,3,5.447,5.447,0,0,1,22,8.5c0,3.78-3.4,6.86-8.55,11.54Z"
													transform="translate(-2 -3)"
													fill="#f07"/>
											</svg>
											1,556 Likes
										</span>
									</div>
									<p class="content">
										{{ post.preview.read_more('') }}
									</p>
									<div class="read-more">
										<a class="btn more" href="{{ post.link }}">
											Read more
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev d-none d-md-flex" href="#carousel-head-post" role="button"
				   data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">
					Previous
				</span>
				</a>
				<a class="carousel-control-next d-none d-md-flex" href="#carousel-head-post" role="button"
				   data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">
					Next
				</span>
				</a>
			</div>
		</div>
	</div>
	<div class="foresight-latest-post">
		<div class="container">
			<h2 class="title-latest-posts">Latest Posts</h2>
			<div class="row">
				<div class="col-md-8 content-latest-post">
					<div class="all-latest-posts">
						{% for post in posts|slice(3) %}
							<div class="card">
								<div class="row no-gutters">
									<div class="col-md-5 card-image-post">
										<img class="img" width="800" height="400"
											 src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}"
											 sizes="{{ post.thumbnail.img_sizes }}" alt="{{ post.thumbnail.title }}"/>
									</div>
									<div class="col-md-7 card-content-post">
										<div class="card-body">
											<h3 class="card-title">
												<a href="{{ post.link }}">
													{{ post.title }}
												</a>
											</h3>
											<div class="posted-by">
												<span class="date">Posted by <b>{{ post.author }}</b> on {{ post.date }}</span>
												<span class="date">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
														 viewbox="0 0 20 18.35">
														<path id="ic_favorite_24px"
															  d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.28,2,8.5A5.447,5.447,0,0,1,7.5,3,5.988,5.988,0,0,1,12,5.09,5.988,5.988,0,0,1,16.5,3,5.447,5.447,0,0,1,22,8.5c0,3.78-3.4,6.86-8.55,11.54Z"
															  transform="translate(-2 -3)"
															  fill="#f07"/>
													</svg>
													1,556 Likes
												</span>
											</div>
											<p class="card-text">
												{{ post.preview.read_more('') }}
											</p>
											<div class="read-more">
												<a class="btn more" href="{{ post.link }}">
													Read more
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-4 content-popular-post">
					<div class="all-popular-post">
						<h3 class="title-popular"><span>Popular</span></h3>
						<div class="content-cards">
							{% for posts in popularsPosts %}
								<div class="card">
									<div class="row no-gutters">
										<div class="col-5 card-image-post">
											<img class="img" width="800" height="400"
												 src="{{ posts.thumbnail.src }}" srcset="{{ posts.thumbnail.srcset }}"
												 sizes="{{ posts.thumbnail.img_sizes }}"
												 alt="{{ posts.thumbnail.title }}"/>
										</div>
										<div class="col-7 card-content-post">
											<div class="card-body">
												<h3 class="card-title">
													<a href="{{ posts.link }}">
														{{ posts.title }}
													</a>
												</h3>
												<div class="posted-by">
													<span class="date">
														<svg xmlns="http://www.w3.org/2000/svg" width="24"
															 height="24" viewBox="0 0 24 24">
															<path fill="#FFAA00"
																  d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"/>
														</svg>
													</span>
													<span class="date">
														Posted by <b>{{ posts.author }}</b> on {{ posts.date }}
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
