<main id="foresight-archive">
	<div class="foresight-latest-post search-results">
		<div class="container container-form-search">
			<form role="search" method="get" class="search-form" action="{{ function( 'home_url', '/blog' ) }}">
				<div class="form-row">
					<div class="col-md-4">
						<div class="input-group">
							<div class="input-group-prepend">
							<span class="input-group-text" id="basic-user">
								<i class="icon-search-magnifier"></i>
							</span>
							</div>
							<input type="search" class="form-control search-field" id="full_name" name="text" title="Search for"
								   placeholder="What would you like to know about?" value="{{ function( 'get_search_query' ) }}"
								   aria-describedby="basic-search">
						</div>

					</div>
					<div class="col-md-2">
						<button class="btn foresight-btn-primary" type="submit">
							Search
						</button>
					</div>
					<div class="col-md-3 show-result">
						<h2>Showing {{ posts|length }} Results</h2>
					</div>
				</div>
			</form>
		</div>
		<div class="container">
			{% if posts  %}
				<h2 class="title-latest-posts">Latest Posts</h2>
				<div class="row">
					{% for post in posts %}
						<div class="card col-md-6 content-latest-post">
							<div class="row no-gutters">
								<div class="col-md-5 card-image-post">
									<img class="img" width="800" height="400"
										 src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}"
										 sizes="{{ post.thumbnail.img_sizes }}" alt="{{ post.thumbnail.title }}"/>
								</div>
								<div class="col-md-7 card-content-post">
									<div class="card-body">
										<h3 class="card-title">
											<a href="{{ post.link }}">
												{{ post.title }}
											</a>
										</h3>
										<div class="posted-by">
											<span class="date">Posted by <b>{{ post.author }}</b> on {{ post.date }}</span>
											<span class="date">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
												 viewbox="0 0 20 18.35">
												<path id="ic_favorite_24px"
													  d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.28,2,8.5A5.447,5.447,0,0,1,7.5,3,5.988,5.988,0,0,1,12,5.09,5.988,5.988,0,0,1,16.5,3,5.447,5.447,0,0,1,22,8.5c0,3.78-3.4,6.86-8.55,11.54Z"
													  transform="translate(-2 -3)"
													  fill="#f07"/>
											</svg>
											1,556 Likes
										</span>
										</div>
										<p class="card-text text-search">
											{{ post.preview.read_more('') }}
										</p>
										<div class="read-more">
											<a class="btn more" href="{{ post.link }}">
												Read more
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

			{% else %}
				<h2 class="title-latest-posts">
					The text "{{ searchText }}" was not found in the query.
				</h2>
			{% endif %}
		</div>
	</div>
</main>
