<footer id="foresight-footer-section">
	<div>
		<div class="container">
			<div class="row">
				<div class=" col-6 col-sm-6 col-lg-4">
					<ul class="footer-navigation">
					{% for item in footerMenu.items %}
						<li><a href="{{ item.link }}" target="{{item.target}}">{{ item.title }}</a></li>
					{% endfor %}
					</ul>
				</div>
				<div class="col-6 col-sm-6 col-lg-8">
					<ul class="footer-navigation">
						<li>{{ contact_us_address }}</li>
						<li>{{ contact_us_phone }}</li>
						<li>{{ contact_us_email }}</li>
					</ul>
				</div>
			</div>
			<div class="row">
			<div class=" col-12 col-md-6 col-lg-4">
			{% filter shortcodes %}
				[sibwp_form id=1]
			{% endfilter %}
			</div>
			<div class="col-12 col-md-6 col-lg-8">
				<ul class="social-icons float-right">
				{% for item in socialMenu.items %}
					<li>
						<a href="{{ item.link }}" target="{{item.target}}">
							<img src="{{theme.link}}/static/images/icons/{{ item.title|lower }}.svg" alt="{{ item.title }}">
						</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			</div>
		</div>
	</div>	
</footer>
